@tailwind base;
@tailwind components;
@tailwind utilities;


canvas{
  width: 100% !important;
}

._sidebar::-webkit-scrollbar{
  width: 3px;
  background-color: gray;


}

 
    .skeleton-bg{
    position: relative;
    }
    .skeleton-bg::after{
        content: "";
        width: 100%;
        height: 100%;
        background:linear-gradient(90deg, #ffffff 25%, #a4a4a469 50%, #ffffff 75%);
        background-size: 200% 100%;
        animation: skeletonAnimation 2s infinite;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        border-radius: inherit;
    }
    

    
    @keyframes skeletonAnimation {
        0% {
        background-position: -200px 0;
        opacity: 1;
        }
        
        100% {
        background-position: 200px 0;
        }

    }


    .dashboard-container .skeleton-container{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }


circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
  .circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;  
}
.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
 
 
.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}
 
.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}
 
.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
 
.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}
 
.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}
 
.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}
 
.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}
 
.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}
 
.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
  @keyframes animate {
 
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
 
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
 
}
.triangle{
  border-top:60rem solid #fff;
  border-left:25rem solid transparent;
}

._float_print_t{
    display: none;
}


.print-table:not(.stats) table:not(.stats) td,.print-table table th{
    word-break: break-word; /* Break long words */
    overflow-wrap: break-word; /* Wrap long words */
}

@media print{
   
    ._float_print_t{
        display:block;
    }
    

    .print-table{
      display: block;
      opacity: 1 !important;
    }
    body {
        padding: 0px;
        margin: 0;
        background: #fff;
    }

  
    body *{
        visibility: hidden;
        padding: 0;
        border: 0 !important;
        margin: 0;
        
    }

    body ._dashbord{
        position: unset !important;
    }
  
    .print-table{
      visibility: visible;
      opacity: 1 !important;
      padding: 0;
      border:0;
      margin: 0;
      border: 0 !important;
      position: absolute;
      left: 0;
      top: 0;
    }
   
    .print-table *
    {
      visibility: visible;
    }
      
  
   
  }


.inset-right-shadow {
   box-shadow:   inset 10px 0px 15px -10px rgba(0, 0, 0, 0.1);
}

  /* Hide the default radio button */
 ._filter input[type="radio"]  {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    outline: 1px solid #ffb380;
    position: relative;
    cursor: pointer;
    background: rgb(255, 255, 255);
  }
  ._filter input[type="chekbox"]{
    border-radius: 0.2rem;
    accent-color: #ff7626;
  }
  
  /* Background color of the radio button */
 ._filter input[type="radio"]::before
  {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ccc; /* default background color */
    border-radius: 50%;
    transition: background-color 0.3s;
  }
  
 ._filter input[type="radio"]:checked::before {
    background-color: #ff7626; /* background color when checked */
  }
  
  ._filter input[type="radio"]:focus::before {
    outline: 2px solid #ffb380 ; /* outline color when focused */
  }
  

body{
    background-color: #FAFBFC;
    background-color: #F6F6F7;
}

*{
    font-family: "Reddit Sans", sans-serif !important; 
}

.css-1jotdb6-MuiDataGrid-root {
    flex: 1;
    box-sizing: border-box;
    position: relative;
    border-width:  0px !important;
    border-style: solid;
    border: 0 !important;
    border-color: rgba(224, 224, 224, 1);
    border-radius: 0.3rem;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    outline: none;
    height: 100%;
    display: flex;
   /* box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);*/
    border-radius: 0.3rem;
}


/* Mui inputs**/
.MuiInputBase-root:not(.Mui-focused) .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border-color: #d7d7d8b9 !important;
   
}

.MuiInputBase-root.Mui-focused .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    /*border-color: #ff944d !important;*/
   
}
.MuiInputBase-root.Mui-focused .MuiInputLabel-root{
    
}

.MuiButton-contained{
   background:rgb(59,130,246) !important;
   border-radius: 0.3rem !important;
}
.css-10o2lyd-MuiStack-root{
    padding-top: 0 !important;
}
.css-1xgnz6y-MuiStack-root{
    overflow: hidden !important;
    /*padding-top: 0 !important;*/
}

.MuiFormLabel-filled.MuiInputLabel-root{
    top: 0 !important;
}

/*
.css-wop1k0-MuiDataGrid-footerContainer{
    display: none !important;
}



[data-popper-placement]{
    display: none !important;
}
*/

.MuiDataGrid-row:nth-child(2n){
    background-color: rgb(243 244 246 / 100%);
    border-top: 0 !important;
}



._table_stats th:nth-child(1),._table_stats th:nth-child(2),._table_stats th:nth-child(3), ._table_stats th:nth-child(5), ._table_stats th:nth-child(4),
._table_stats th:nth-child(6),._table_stats th:nth-child(7), ._table_stats th:nth-child(8), ._table_stats th:nth-child(9),
._table_stats th:nth-child(10),._table_stats th:nth-child(11),._table_stats th:nth-child(12),._table_stats th:nth-child(13),

._table_stats td:nth-child(1),._table_stats td:nth-child(4), ._table_stats td:nth-child(7), ._table_stats td:nth-child(10),
._table_stats td:nth-child(13), ._table_stats td:nth-child(16), ._table_stats td:nth-child(19), ._table_stats td:nth-child(22),
._table_stats td:nth-child(25), ._table_stats td:nth-child(28), ._table_stats td:nth-child(31),
._table_stats td:nth-child(34), ._table_stats td:nth-child(37), ._table_stats td:nth-child(40) {
    border-right: 1px solid rgba(0, 0, 0, 0.13);
}

._table_stats._daily td:nth-child(3),
._table_stats._daily td:nth-child(5)
{
    border-right: 1px solid rgba(0, 0, 0, 0.13);
}
._table_stats._daily td:nth-child(4){
    border-right:0;
}

._table_stats th:first-child, ._table_stats td:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
}

._table_stats th:first-child, ._table_stats td:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: #fff; /* Keep the first column header background consistent */
    white-space: nowrap; /* Ensure text does not wrap and occupies only one row */ 
}

@media screen and (max-width:900px) {
    ._table_stats th:first-child, ._table_stats td:first-child {
     position: relative;
  }

  ._table_stats th:first-child, ._table_stats td:first-child {
    position: relative;
  }
}
._table_stats td:first-child{
    padding: 0 !important;
}
._table_stats td:first-child{
    padding-left: 1rem !important;
}
._table_stats th:first-child::after, ._table_stats td:first-child::after{

    content: "";
    position: relative;
    width: 5px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: 2px 0 5px -2px rgba(0, 0, 0, 0.7); 
    background-color: #fff;
}






















.intro-image-div,
.download-pop
{
  box-shadow: 0px 25px 60px -10px rgba(0, 0, 0, 0.2);
}

#home,.hero{
  position: relative;
  
}
.hero *:not(.circle),#landing-header *{
  z-index: 3;
}
.dots{
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background: url(../renderer/src/landingpage/assets/images/dots.png);
  z-index: 1;
  background-position: center;
  background-size: contain;
  opacity: 0.5;
  pointer-events: none;
  
}

.hero .circle,
#support .circle
{
  position: absolute;
  content: "";
  border: 50px solid #f86b19;
  opacity: .6;
  border-radius: 50%;
  z-index: 2;

}

.hero .circle-1{
  width: 400px;
  height: 400px;
  left: 0;
  bottom: 0;
  transform: translate(-30%,20%);
}
#support .circle-4{
  width: 400px;
  height: 400px;
  left: 0;
  bottom: 0;
  transform: translate(-30%,40%);
  opacity: 1;
  border: 50px solid #F6F6F7;
}

#support .circle-5{
  width: 700px;
  height: 700px;
  right: 0;
  top: 0;
  transform: translate(30%,-60%);
  border: 50px solid #F6F6F7;
  opacity: 1;
}

.hero .circle-2{
  width: 700px;
  height: 700px;
  right: 0;
  top: 0;
  transform: translate(30%,-60%);
}


.hero .circle-3{
  width: 100px;
  height: 100px;
  left: 100px;
  top: 0;
  transform: translate(0,-50%);
}


.download-icons-c div:hover svg{
  transform: scale(0.9);
  transition: 0.2s;
}
.download-icons-c div{
  cursor: pointer;
}
.download-icons-c  p{
  transform: translate(-50%,3px);
  left: 50%;
  font-size: 13px;
  width: auto;
}



._image_item{
  background: url(../renderer/src/landingpage/assets/images/items-BG.webp);
  background-position: center;
  background-size: cover;
  transform: scale(1.2);
}

.tesmemunial-bg{
  background: url(../renderer/src/landingpage/assets/images/testimonial-BG.webp);
  background-position: center;
  background-size: cover;
}
._image_item img{
  opacity:0;
}
.t-avatar{
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
}

 .play-btn {
  width: 94px !important;
  height: 94px !important;
  background: radial-gradient(#ff944d 50%, #ff944dc3 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}



 .play-btn:before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  animation-delay: 0s;
  animation: pulsate-btn 2s;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 10px solid #ff944d91;
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

 .play-btn:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

 .play-btn:hover:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  animation: none;
  border-radius: 0;
}

 .play-btn:hover:after {
  border-left: 15px solid #ff944d;
  transform: scale(20);
}


@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}





.faq-content{
    opacity: 0; 
    transition: height 0.5s ease-in-out, opacity 0.3s ease-in-out; 
    overflow: hidden; 
    height: 0; 
  }
  .faq-item.active .faq-content{
   opacity: .8;
   height: auto; 
   padding-bottom: 3rem;
  }
  
  * ::placeholder{
    font-size: 0.9rem;
  }
  



  .circular-chart-container .center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }

  .circular-chart {
    display: block;
    max-width: 100%;
  }

  .circular-chart.progress{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
  
  .circle {
    /* stroke: #4CC790;*/
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }


  .animate-header{
    animation:0.3s animate-header forwards;
  }
  
  @keyframes animate-header{
     from{
        opacity: 0;
        transform: translateY(-1rem);
     }to{
        opacity: 1;
        transform: translateY(0rem);
        background: #fff;
     }
  }

  #home *{
    line-height: normal !important;
   
  }

  svg,.t-avatar{
    flex-shrink: 0;
  }
  

  ._print{
    z-index: 4;
    position: relative;
  }

  #features{
    border-top-left-radius: 40%;
  }
  #support{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

 @media (max-width:900px){
  .header-logo-container{
      width: auto;
  }
  #features{
    border-top-left-radius: 0%;
  }
 }

 .logo-loader span{
  animation: 2s ani_loader linear infinite;
  transition: 0.2s;
 }

 @keyframes ani_loader{
  0%{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
    50%{
       border-bottom-left-radius: 1.3rem;
       border-bottom-right-radius: 0.6rem;
    }100%{
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
 }



.arrow {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.read-more-container:hover .arrow {
  transform: translateX(5px);
}

.read-more-container:hover .read-more-text {
  color: #007bff; /* Change color on hover */
}


@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(5px);
  }
}

.arrow {
  animation: bounce 1s infinite;
}



.divide{
  display: flex;
}
.divide .right{
  padding: 2rem;
  max-width: 1200px;
}

.divide .right .section-item h2{
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 0.8rem;
}
.divide .right .section-item p{
  color: #374151;
  margin-bottom: 1rem;
}
.divide .right .section-item a{
  text-decoration: underline;
}
.divide ul,.divide ol{
  list-style: initial;
  list-style-type: initial;
  padding-left: 2rem;
  margin:1.2rem 0;

}
.divide ul li{
  margin-bottom: 0.8rem;
}

.divide strong{
  opacity: 0.7;
}

.full-text{
  padding:4rem 2rem;

}
