@tailwind base;
@tailwind components;
@tailwind utilities;

.inset-right-shadow {
   box-shadow:   inset 10px 0px 15px -10px rgba(0, 0, 0, 0.1);
}

  /* Hide the default radio button */
 ._filter input[type="radio"]  {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    outline: 1px solid #ffb380;
    position: relative;
    cursor: pointer;
    background: rgb(255, 255, 255);
  }
  ._filter input[type="chekbox"]{
    border-radius: 0.2rem;
    accent-color: #ff7626;
  }
  
  /* Background color of the radio button */
 ._filter input[type="radio"]::before
  {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ccc; /* default background color */
    border-radius: 50%;
    transition: background-color 0.3s;
  }
  
 ._filter input[type="radio"]:checked::before {
    background-color: #ff7626; /* background color when checked */
  }
  
  ._filter input[type="radio"]:focus::before {
    outline: 2px solid #ffb380 ; /* outline color when focused */
  }
  

body{
    background-color: #FAFBFC;
    background-color: #F6F6F7;
}

*{
    font-family: "Reddit Sans", sans-serif !important; 
}

.css-1jotdb6-MuiDataGrid-root {
    flex: 1;
    box-sizing: border-box;
    position: relative;
    border-width:  0px !important;
    border-style: solid;
    border: 0 !important;
    border-color: rgba(224, 224, 224, 1);
    border-radius: 0.3rem;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    outline: none;
    height: 100%;
    display: flex;
   /* box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);*/
    border-radius: 0.3rem;
}


/* Mui inputs**/
.MuiInputBase-root:not(.Mui-focused) .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border-color: #d7d7d8b9 !important;
   
}

.MuiInputBase-root.Mui-focused .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    /*border-color: #ff944d !important;*/
   
}
.MuiInputBase-root.Mui-focused .MuiInputLabel-root{
    
}

.MuiButton-contained{
   background:rgb(59,130,246) !important;
   border-radius: 0.3rem !important;
}
.css-10o2lyd-MuiStack-root{
    padding-top: 0 !important;
}
.css-1xgnz6y-MuiStack-root{
    overflow: hidden !important;
    /*padding-top: 0 !important;*/
}

.MuiFormLabel-filled.MuiInputLabel-root{
    top: 0 !important;
}

/*
.css-wop1k0-MuiDataGrid-footerContainer{
    display: none !important;
}



[data-popper-placement]{
    display: none !important;
}
*/

.MuiDataGrid-row:nth-child(2n){
    background-color: rgb(243 244 246 / 100%);
    border-top: 0 !important;
}



._table_stats th:nth-child(1),._table_stats th:nth-child(2),._table_stats th:nth-child(3), ._table_stats th:nth-child(5), ._table_stats th:nth-child(4),
._table_stats th:nth-child(6),._table_stats th:nth-child(7), ._table_stats th:nth-child(8), ._table_stats th:nth-child(9),
._table_stats th:nth-child(10),._table_stats th:nth-child(11),._table_stats th:nth-child(12),._table_stats th:nth-child(13),

._table_stats td:nth-child(1),._table_stats td:nth-child(4), ._table_stats td:nth-child(7), ._table_stats td:nth-child(10),
._table_stats td:nth-child(13), ._table_stats td:nth-child(16), ._table_stats td:nth-child(19), ._table_stats td:nth-child(22),
._table_stats td:nth-child(25), ._table_stats td:nth-child(28), ._table_stats td:nth-child(31),
._table_stats td:nth-child(34), ._table_stats td:nth-child(37), ._table_stats td:nth-child(40) {
    border-right: 1px solid rgba(0, 0, 0, 0.13);
}

._table_stats._daily td:nth-child(3),
._table_stats._daily td:nth-child(5)
{
    border-right: 1px solid rgba(0, 0, 0, 0.13);
}
._table_stats._daily td:nth-child(4){
    border-right:0;
}

._table_stats th:first-child, ._table_stats td:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
}

._table_stats th:first-child, ._table_stats td:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: #fff; /* Keep the first column header background consistent */
    white-space: nowrap; /* Ensure text does not wrap and occupies only one row */
   
    
}
._table_stats td:first-child{
    padding: 0 !important;
}
._table_stats td:first-child{
    padding-left: 1rem !important;
}
._table_stats th:first-child::after, ._table_stats td:first-child::after{

    content: "";
    position: relative;
    width: 5px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: 2px 0 5px -2px rgba(0, 0, 0, 0.7); 
    background-color: #fff;
}